@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*:not(dialog) {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #6366f1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.open-modal {
  background-color: #fff;
  color: #6366f1;
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  font-size: 14px;
  cursor: pointer;
}

dialog {
  border: none;
  width: 350px;
  border-radius: 24px;
  padding: 18px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

dialog form {
  width: 100%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.modal-title {
  font-size: 20px;
  font-weight: 500;
  color: #111928;
}

.close-modal {
  cursor: pointer;
  border: none;
  color: #9ca3af;
  background-color: transparent;
  font-size: 14px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.input-group label {
  font-size: 14px;
  font-weight: 500;
  color: #111928;
}

.input-group input {
  border: 1px solid #d1d5db;
  background-color: #f9fafb;
  border-radius: 8px;
  padding: 10px 16px;
}

.input-group input:focus {
  outline: 1px solid #6366f1;
}

.password-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remember-password {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: #111928;
}

.forgot-password {
  font-size: 12px;
  color: #1c64f2;
  text-decoration: none;
}

#login-button {
  background-color: #6366f1;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  font-size: 14px;
  cursor: pointer;
}

.register span {
  font-size: 14px;
  color: #6b7280;
}

.register a {
  font-size: 14px;
  color: #1c64f2;
  text-decoration: none;
}
